<div id="characterInformations">
    <div id="characterAvatar">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <input class="caption" value="{{actor.name}}" />
    </div>
    <div id="characterResume">
        <span class="title">FICHE DE HÉROS </span>
        <table>
            <tr>
                <td>Origine: </td>
                <td><input name="data.race" value="{{data.race}}" data-dtype="String" /></td>
                <td>Métier: </td>
                <td><input name="data.job" value="{{data.job}}" data-dtype="String" /></td>
            </tr>
            <tr>
                <td>Sexe:</td>
                <td><input name="data.sex" value="{{data.sex}}" data-dtype="String" /></td>
                <td>Âge: </td>
                <td><input name="data.year" value="{{data.year}}" data-dtype="String" /></td>
            </tr>
            <tr>
                <td>Taille: </td>
                <td><input name="data.size" value="{{data.size}}" data-dtype="String" /></td>
                <td>Poids: </td>
                <td><input name="data.weigth" value="{{data.weigth}}" data-dtype="String" /></td>
            </tr>
        </table>
    </div>
</div>
<div id="characterAbilities">

    <span class="title">Caractéristiques </span>
    <table>
        <tr>
            <th></th>
            <th>Tot.</th>
            <th>Base</th>
            <th>Eq</th>
            <th>Mod</th>
        </tr>
        <tr>
            <td><a class="abilityName"><span>AT: </span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.AT.total">{{data.abilities.AT.total}}</span></a></td>
            <td><input name="data.abilities.AT.base" value="{{data.abilities.AT.base}}" data-dtype="Number" />
            </td>
            <td><input disabled name="data.abilities.AT.bonus" value="{{data.abilities.AT.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.AT.mod" value="{{data.abilities.AT.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td><a class="abilityName"><span>PRD: </span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.PRD.total">{{data.abilities.PRD.total}}</span></td>
            <td><input name="data.abilities.PRD.base" value="{{data.abilities.PRD.base}}" data-dtype="Number" />
            </td>
            <td><input disabled name="data.abilities.PRD.bonus" value="{{data.abilities.PRD.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.PRD.mod" value="{{data.abilities.PRD.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td><a class="abilityName"><span>Courage: </span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.COU.total">{{data.abilities.COU.total}}</span></a>
            </td>
            <td><input name="data.abilities.COU.base" value="{{data.abilities.COU.base}}" data-dtype="Number" />
            </td>
            <td><input disabled name="data.abilities.COU.bonus" value="{{data.abilities.COU.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.COU.mod" value="{{data.abilities.COU.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td><a class="abilityName"><span>Intelligence: </span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.INT.total">{{data.abilities.INT.total}}</span></td>
            <td><input name="data.abilities.INT.base" value="{{data.abilities.INT.base}}" data-dtype="Number" />
            </td>
            <td><input disabled name="data.abilities.INT.bonus" value="{{data.abilities.INT.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.INT.mod" value="{{data.abilities.INT.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td><a class="abilityName"><span>Charisme:</span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.CHA.total">{{data.abilities.CHA.total}}</span></td>
            <td><input name="data.abilities.CHA.base" value="{{data.abilities.CHA.base}}" data-dtype="Number" />
            </td>
            <td><input disabled name="data.abilities.CHA.bonus" value="{{data.abilities.CHA.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.CHA.mod" value="{{data.abilities.CHA.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td><a class="abilityName"><span>Adresse: </span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.ADR.total">{{data.abilities.ADR.total}}</span></td>
            <td><input name="data.abilities.ADR.base" value="{{data.abilities.ADR.base}}" data-dtype="Number" />
            </td>
            <td><input disabled name="data.abilities.ADR.bonus" value="{{data.abilities.ADR.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.ADR.mod" value="{{data.abilities.ADR.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td><a class="abilityName"><span>Force </span></a></td>
            <td><a class="abilityValue"><span name="data.abilities.FO.total">{{data.abilities.FO.total}}</span></td>
            <td><input name="data.abilities.FO.base" value="{{data.abilities.FO.base}}" data-dtype="Number" /></td>
            <td><input disabled name="data.abilities.FO.bonus" value="{{data.abilities.FO.bonus}}"
                    data-dtype="Number" />
            </td>
            <td><input name="data.abilities.FO.mod" value="{{data.abilities.FO.mod}}" data-dtype="Number" /></td>
        </tr>
    </table>
</div>
<div id="characterVitals">
    <table>
        <tr>
            <th colspan="2">Energie vitale</th>
        </tr>
        <tr>
            <td><input name="data.abilities.HP.base" value="{{data.abilities.HP.base}}" data-dtype="Number" />
            </td>
            <td><input name="data.abilities.HPMAX.base" value="{{data.abilities.HPMAX.base}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <th colspan="2">Energie astrale</th>
        </tr>
        <tr>
            <td><input name="data.abilities.MP.base" value="{{data.abilities.MP.base}}" data-dtype="Number" />
            </td>
            <td><input name="data.abilities.MPMAX.base" value="{{data.abilities.MPMAX.base}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>

<div id="characterMagicSpecial">
    <table>
        <tr>
            <th></th>
            <th>Total</th>
            <th>Base</th>
            <th>Mod</th>
        </tr>
        <tr>
            <td>Magie Phys.</td>
            <td><span name="data.abilities.MagPHY.total">{{data.abilities.MagPHY.total}}</span></td>
            <td><span name="data.abilities.MagPHY.base">{{data.abilities.MagPHY.base}}</span></td>
            <td><input name="data.abilities.MagPHY.mod" value="{{data.abilities.MagPHY.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>Magie Psy.</td>
            <td><span name="data.abilities.MagPSY.total">{{data.abilities.MagPSY.total}}</span></td>
            <td><span name="data.abilities.MagPSY.base">{{data.abilities.MagPSY.base}}<span></td>
            <td><input name="data.abilities.MagPSY.mod" value="{{data.abilities.MagPSY.mod}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>Résist. Magie</td>
            <td>
                <span name="data.abilities.ReMag.total">{{data.abilities.ReMag.total}}</span>
            </td>
            <td><span name="data.abilities.ReMag.base">{{data.abilities.ReMag.base}}</span></td>
            <td><input name="data.abilities.ReMag.mod" value="{{data.abilities.ReMag.mod}}" data-dtype="Number" /></td>
        </tr>

    </table>
</div>

<div id="characterSens">
    <table>
        <tr>
            <th colspan="2">Sens</th>
        </tr>
        <tr>
            <td>Langue(s): </td>
            <td><input name="data.language" value="{{data.language}}" data-dtype="String" /></td>

        </tr>
        <tr>
            <td>Vision: </td>
            <td><input name="data.vision" value="{{data.vision}}" data-dtype="String" /></td>

        </tr>
        <tr>
            <td>Nyctalopie:</td>
            <td><input name="data.nyctalopia" value="{{data.nyctalopia}}" data-dtype="String" /></td>

        </tr>
        <tr>
            <td>Ouïe: </td>
            <td><input name="data.hearing" value="{{data.hearing}}" data-dtype="String" /></td>

        </tr>
        <tr>
            <td>Odorat </td>
            <td><input name="data.smell" value="{{data.smell}}" data-dtype="String" /></td>

        </tr>
    </table>
</div>
<div id="characterLevel">
    <table>
        <tr>
            <th colspan="3">Experience</th>
        </tr>
        <tr>
            <td><input name="data.xp" value="{{data.xp}}" data-dtype="String" /></td>
            <td>/</td>
            <td><input name="data.xpMax" value="{{data.xpMax}}" data-dtype="String" /></td>
        </tr>
        <tr>
            <td colspan="3">Niveau</td>
        </tr>
        <tr>
            <td colspan="3"><input name="data.level" value="{{data.level}}" data-dtype="String" /></td>
        </tr>
    </table>
</div>
<div id="characterDestiny">
    <table>
        <tr>
            <th colspan="3">Points de destin</th>
        </tr>
        <tr>
            <td colspan="3"><input name="data.destinyPoint" value="{{data.destinyPoint}}" data-dtype="String" />
            </td>
        </tr>
    </table>
</div>
<div id="characterGold">
    <table>
        <tr>
            <th colspan="2">Richesses</th>
        </tr>
        <tr>
            <td>Pièces d'Or</td>
            <td><input name="data.gold" value="{{data.gold}}" data-dtype="Number" /></td>
        </tr>
        <tr>
            <td>Lingots de Berylium</td>
            <td><input name="data.berylium" value="{{data.berylium}}" data-dtype="Number" /></td>
        </tr>
        <tr>
            <td>Lingots de Thritil</td>
            <td><input name="data.thritil" value="{{data.thritil}}" data-dtype="Number" /></td>
        </tr>
        <tr>
            <td>Total (en Or)</td>
            <td><input disabled name="data.goldTotal" value="{{data.goldTotal}}" data-dtype="Number" /></td>
        </tr>
    </table>
</div>
<div id="characterPR">
    <table>
        <tr>
            <th colspan="3">PR</th>
        </tr>
        <tr>
            <td colspan="3">{{data.abilities.PR.total}}</td>
        </tr>
        <tr>
            <td colspan="3">PR Mag</td>
        </tr>
        <tr>
            <td colspan="3">{{data.abilities.PRMag.total}}</td>
        </tr>
        <tr>
            <td colspan="3">PR Max</td>
        </tr>
        <tr>
            <td colspan="3"><input name="data.PRMax" value="{{data.PRMax}}" data-dtype="Number" /></td>
        </tr>
    </table>
</div>
<div id="characterDamageBonus">
    <table>
        <tr>
            <th></th>
            <th>Total</th>
            <th>Base</th>
            <th>Eq</th>
        </tr>
        <tr>
            <td>P.I</td>
            <td><span name="data.abilities.PI.total">{{data.abilities.PI.total}}</span></td>
            <td><span name="data.abilities.PI.base">{{data.abilities.PI.base}}</span></td>
            <td><span name="data.abilities.PI.mod">{{data.abilities.PI.bonus}}</span></td>
            </td>
        </tr>
        <tr>
            <td>P.S</td>
            <td><span name="data.abilities.PS.total">{{data.abilities.PS.total}}</span></td>
            <td><span name="data.abilities.PS.base">{{data.abilities.PS.base}}<span></td>
            <td><span name="data.abilities.PS.mod">{{data.abilities.PS.bonus}}<span></td>
            </td>
        </tr>


    </table>
</div>
<div id="characterEquipment">
    <img src="systems/naheulbeuk/pictures/silhouette.svg" alt="">
</div>
<div id="characterItems">
    <h3>Equipement</h3>

        {{#each actor.items as |item id|}}
        {{#ifCond item.type '!=' "spell" }}
        {{#ifCond item.type '!=' "skill" }}
        {{#ifCond item.type '!=' "object" }}
        <div class="item" data-item-id="{{item._id}}">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <h4 class="item-name">{{item.name}}</h4>

                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-eye"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>

        </div>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{/each}}

</div>