<tr class="item" data-item-id="{{item._id}}">
    <td><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></td>
    <td>{{item.name}}</td>
    <td>{{item.data.useDescription}}</td>
    <div class="item-controls">
    <td><a class="item-control item-edit" title="Edit Item"><i class="fas fa-eye"></i></a></td>
    <td><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
    </div>
</tr>

