<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="icons/svg/shield.svg" data-edit="img" title="icons/svg/shield.svg" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
    </header>
    <span>Information visible</span><input type="checkbox" id="scales" name="data.secretPrincipalData" {{checked
        data.secretPrincipalData}}>
    {{#if data.secretPrincipalData}}
    <table>
        <tr>
            <th>Types de dégats</th>
            <th>PR</th>
            <th>PR.Mag</th>
        </tr>
        <tr>
            <td>
                <select name="data.protectionItem">
                    {{#select data.protectionItem}}
                    {{#each config.protectionItem as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td><input name="data.PR" type="text" value="{{data.PR}}" data-dtype="Number" /></td>
            <td><input name="data.PRMag" type="text" value="{{data.PRMag}}" data-dtype="Number" /></td>
        </tr>
    </table>
    {{/if}}
    <span>Information bonus visible</span><input type="checkbox" id="scales" name="data.secretBonusData" {{checked
        data.secretBonusData}}>
    {{#if data.secretBonusData}}
    <h2>Bonus: </h2>
    <table>
        <tr>

            <th>COU</th>
            <th>INT</th>
            <th>CHA</th>
            <th>ADR</th>
            <th>FO</th>

        </tr>
        <tr>

            <td><input name="data.abilities.COU" type="text" value="{{data.abilities.COU}}" data-dtype="Number" /></td>
            <td><input name="data.abilities.INT" type="text" value="{{data.abilities.INT}}" data-dtype="Number" /></td>
            <td><input name="data.abilities.CHA" type="text" value="{{data.abilities.CHA}}" data-dtype="Number" /></td>
            <td><input name="data.abilities.ADR" type="text" value="{{data.abilities.ADR}}" data-dtype="Number" /></td>
            <td><input name="data.abilities.FO" type="text" value="{{data.abilities.FO}}" data-dtype="Number" /></td>
        </tr>
    </table>
    {{/if}}
    <textarea name="data.description">{{data.description}}</textarea>
</form>