<form id="spellForm" class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.img}}" height="64" width="64" />

    </header>

    <select id="spellSchool" name="data.school">
        {{#select data.school}}
        {{#each config.school as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
    </select>
    <div>
        <input id="spellName" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
        <input id="spellLevel" name="data.spellLevel" type="text" value="{{data.spellLevel}}" data-dtype="Number" />
    </div>
    <div id="spellDice">
        <input id='diceTest' type="image" src="icons/svg/d20-black.svg" /><span id='diceTestText'>Epreuve</span>
        <input id="diceDamage" type="image" src="icons/svg/d20-black.svg" /><span id='diceDamageText'>Dégats</span>

    </div>
    <div id="spellRange">
        <input name="data.range" type="text" value="{{data.range}}" data-dtype="Number" /> <span>M</span>
    </div>
    <div id="spellCost">

        <input name="data.cost" type="text" value="{{data.cost}}" data-dtype="Number" /> <span>PA</span>

    </div>
    <div id="spellSentence">
        <input id="sentence" name="data.castSentence" type="text" value="{{data.castSentence}}" data-dtype="String" />
        <span id="beforeCastTime">Durée incantation: </span><input id="time" name="data.castTime" type="text"
            value="{{data.castTime}}" data-dtype="Number" /> <span id="afterCastTime">Assauts</span>
        <br>
        <span id="beforeAOE">Durée du sort: </span><input id="AOE" name="data.castAOE" type="text"
            value="{{data.castAOE}}" data-dtype="Number" /> <span id="afterAOE">Assauts</span>
    </div>
    <div id="spellDescription">
        <nav class="sheet-tabs tabs" data-group="primary-tabs">
            {{!-- <div id="buttonsCharacterSheet"> --}}
                <a class="itemNav" data-tab="description"><i class="fas fa-user"></i> Description</a>
                <a class="itemNav" data-tab="effect"><i class="fas fa-journal-whills"></i> Effet</a>
                <a class="itemNav" data-tab="note"><i class="fas fa-journal-whills"></i> Note</a>
                <a class="itemNav" data-tab="settings"><i class="fas fa-cogs"></i></a>
        </nav>


        <section class="sheet-body">
            <div class="tab" data-tab="description" data-group="primary-tabs">
                <textarea name="data.description">{{data.description}}</textarea>
            </div>
            <div class="tab" data-tab="effect" data-group="primary-tabs">
                <textarea name="data.effect">{{data.effect}}</textarea>
            </div>
            <div class="tab" data-tab="note" data-group="primary-tabs">
                <textarea name="data.note">{{data.note}}</textarea>
            </div>
            <div class="tab" data-tab="settings" data-group="primary-tabs">
                <table>
                    <tr>
                        <td><span>Confrontation/Epreuve</span></td>
                        <td>
                            <select name="data.testWith">
                                {{#select data.testWith}}
                                {{#each config.ability as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            <input id="diceTextInput" name="data.testMod" type="text" value="{{data.testMod}}"
                                data-dtype="Number" />
                        </td>
                    </tr>
                    <tr>
                        <td><span>Dégats</span></td>
                        <td> <input id="diceDamageInput" name="data.damage" type="text" value="{{data.damage}}"
                                data-dtype="String" />
                        </td>
                        <td><span>PI ?</span><input type="checkbox" name="data.checkPI" {{checked data.checkPI}}></td>
                        <td><span>PS ?</span><input type="checkbox" name="data.checkPS" {{checked data.checkPS}}></td>
                    </tr>
                </table>

            </div>
    </div>
</form>